{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "import/prefer-default-export": 0,
    "global-require": 0,
    "linebreak-style": [0, "error", "windows"]
  }
}
